<h1 class='app-main-title'>{{ translate('Settings') }} > {{ translate('Companies') }}</h1>

<app-table
  int:record-id="{{ viewParams.recordId }}"
  string:model="Hubleto/App/Community/Settings/Models/Company"
></app-table>