<h1 class='app-main-title'>{{ translate('Settings') }} > {{ translate('Platform config') }}</h1>

<app-table
  int:record-id="{{ viewParams.recordId }}"
  string:model="Hubleto/Framework/Models/Config"
  json:description='{"ui": {"showFulltextSearch": true}}'
  string:full-text-search="{{ viewParams.q }}"
></app-table>