<h1 class='app-main-title'>{{ translate('Settings') }} > {{ translate('Countries') }}</h1>

<hblreact-table
  int:record-id="{{ viewParams.recordId }}"
  string:model="Hubleto/App/Community/Settings/Models/Country"
></hblreact-table>