<h1 class='app-main-title'>{{ translate('Settings') }} > {{ translate('Tags') }}</h1>

<app-table
  int:record-id="{{ viewParams.recordId }}"
  string:model="Hubleto/App/Community/Settings/Models/Tag"
></app-table>