<h1 class="app-main-title">{{ translate('Notifications') }}</h1>

<div class="flex gap-2 w-full">
  {% include '@HubletoApp:Community:Notifications/FolderSelector.twig' %}
  <div>
    <div class="badge badge-extra-large ml-0">Inbox</div>
    <div class="mt-4">
      <app-notifications-list-folder string:folder="inbox"></app-notifications-list-folder>
    </div>
  </div>
</div>