<h1 class="app-main-title">{{ translate('Orders') }}</h1>

<app-orders-table-orders
  string:tag="table-orders"
  int:record-id="{{ viewParams.recordId }}"
  json:filters='{{ viewParams.filters|json_encode }}'
></app-orders-table-orders>