<h1 class="app-main-title">{{ translate('Orders') }}</h1>

<hblreact-orders-table-orders
  string:tag="table-orders"
  string:view="{{ viewParams.view }}"
  int:record-id="{{ viewParams.recordId }}"
  json:filters='{{ viewParams.filters|json_encode }}'
></hblreact-orders-table-orders>