
<h1 class="app-main-title">{{ translate('Orders') }} > {{ translate('Quotes') }}</h1>

<hblreact-orders-table-quotes
  string:tag="table-quotes"
  int:record-id="{{ viewParams.recordId }}"
></hblreact-orders-table-quotes>