<h1>{{ translate('Calendar Sync Settings') }}</h1>

<p>In the sidebar on the left you may choose which calendar source list you want to add or edit.</p>
<p>When using Google Calendar integration, also make sure to have $config['google-api-key'] defined in your ConfigEnv.php.</p>