<h1 class="app-main-title">{{ translate('Notifications') }}</h1>

<hblreact-notifications-table-notifications
  string:folder="inbox"
  string:tag="api-table-keys"
  int:record-id="{{ viewParams.recordId }}"
  json:filters='{{ viewParams.filters|json_encode }}'
  string:form-active-tab-uid='{{ viewParams.tab }}'
></hblreact-notifications-table-notifications>
