<h1 class="app-main-title">Documents</h1>

{# <app-documents-table-documents int:record-id="{{ viewParams.recordId }}"></app-documents-table-documents> #}
<app-documents-browser int:document-uid="{{ viewParams.documentUid }}"></app-documents-browser>