<h1 class="app-main-title">API</h1>

<div class="flex flex-col gap-2">
  <a href="api/keys" class="btn btn-transparent">
    <span class="icon"><i class="fas fa-arrow-right"></i></span>
    <span class="text">Keys</span>
  </a>
  <a href="api/permissions" class="btn btn-transparent">
    <span class="icon"><i class="fas fa-arrow-right"></i></span>
    <span class="text">Permissions</span>
  </a>
  <a href="api/usages" class="btn btn-transparent">
    <span class="icon"><i class="fas fa-arrow-right"></i></span>
    <span class="text">Usages</span>
  </a>
</div>