<h1 class="app-main-title">API > Keys</h1>

<hblreact-api-table-keys
  string:tag="api-table-keys"
  int:record-id="{{ viewParams.recordId }}"
  json:filters='{{ viewParams.filters|json_encode }}'
></hblreact-api-table-keys>