<h1 class="app-main-title">API > Permissions</h1>

<app-api-table-permissions
  string:tag="api-table-permissions"
  int:record-id="{{ viewParams.recordId }}"
  json:filters='{{ viewParams.filters|json_encode }}'
></app-api-table-permissions>