<h1 class="app-main-title">API > Usages</h1>

<hblreact-api-table-usages
  string:tag="api-table-usages"
  int:record-id="{{ viewParams.recordId }}"
  json:filters='{{ viewParams.filters|json_encode }}'
></hblreact-api-table-usages>