/assets/compiled
/node_modules
/vendor
/composer.lock
/composer-dev.lock
/package-lock.json
/node_modules
/composer-dev.json
/ConfigAccount.php
/ConfigEnv.php
/.htaccess
/apps/external/*
!/apps/external/README.md
/repositories.tsx