<h1 class="app-main-title">
  {{ translate('Leads') }}
  <div class="app-main-title-buttons">
    <a
      class="btn btn-add-outline"
      href="{{ config.accountUrl }}/leads/campaigns"
    >
      <span class="icon"><i class="fas fa-cog"></i></span>
      <span class="text">{{ translate('Manage lead campaigns') }}</span>
    </a>
  </div>
</h1>

<app-leads-table-leads int:record-id="{{ viewParams.recordId }}"></app-leads-table-leads>
