<h1 class="app-main-title">{{ translate('Campaigns') }} > {{ translate('Recipients') }}</h1>

<app-campaigns-table-recipients
  string:tag="table-recipients"
  int:record-id="{{ viewParams.recordId }}"
  json:filters='{{ viewParams.filters|json_encode }}'
></app-campaigns-table-recipients>