<div class="shadow border rounded p-12 text-xl">
  {{ translate('Welcome') }}, {{ user.email }}
</div>

<div style="width:10em;margin:auto;margin-top:4em;">
  <img src="{{ config.url }}/app/assets/images/logo-s-textom.png">
</div>
