<h1 class="app-main-title">{{ translate("Documents") }} > {{ translate("Browse uploaded files") }}</h1>

<hblreact-documents-file-browser
  int:file-uid="{{ viewParams.fileUid }}"
></hblreact-documents-file-browser>