<h1 class="app-main-title">{{ translate("Documents") }} > {{ translate("Templates") }}</h1>

<app-documents-table-templates
  string:tag="table-documents-templates"
  int:record-id="{{ viewParams.recordId }}"
></app-documents-table-templates>
