<h1 class="app-main-title">{{ translate("Documents") }} > {{ translate("Templates") }}</h1>

<hblreact-documents-table-templates
  string:tag="table-documents-templates"
  int:record-id="{{ viewParams.recordId }}"
  json:filters='{{ viewParams.filters|json_encode }}'
></hblreact-documents-table-templates>
