<h1 class="app-main-title">{{ translate('Tasks') }}</h1>

<hblreact-tasks-table-tasks
  string:tag="table-tasks"
  int:record-id="{{ viewParams.recordId }}"
  json:filters='{{ viewParams.filters|json_encode }}'
></hblreact-tasks-table-tasks>