<h1 class="app-main-content">{{ translate('Payment') }}</h1>

<div class="alert alert-info">
  {{ translate('Random payment of') }} <b>{{ hubleto.locale().formatCurrency(viewParams.amount, '€') }}</b> {{ translate('was simulated.') }}
</div>