<h1 class="app-main-title">{{ translate('Suppliers') }}</h1>

<hblreact-table
  string:model="\Hubleto\App\Community\Suppliers\Models\Supplier"
  int:record-id="{{ viewParams.recordId }}"
  json:filters='{{ viewParams.filters|json_encode }}'
  string:form-active-tab-uid='{{ viewParams.tab }}'
></hblreact-table>