<h1 class="app-main-title">EventFeedback > Contacts</h1>

<hblreact-table
  int:record-id="{{ viewParams.recordId }}"
  string:model="Hubleto/App/Community/EventFeedback/Models/Contact"
></hblreact-table>