<h1>You're real pro PRO</h1>

<p>You have:</p>
<ul>
  <li>+ unlimited storage</li>
  <li>+ unlimited users</li>
  <li>+ more features</li>
  <li>+ 24/7 support</li>
  <li>+ access to tons of extensions</li>
</ul>

<a href="?simulate=down" class="btn btn-primary btn-large">
  <span class="icon"><i class="fas fa-trophy"></i></span>
  <span class="text">Simulate downgrade</span>
</span>