<h1 class="app-main-title">Deals</h1>

<div class="flex gap-2">
  <div class="card card-header">
    Open deals: {{ viewParams.result.count }}
  </div>
  <div class="card card-header">
    Total value: {{ viewParams.main.locale.formatCurrency(viewParams.result.price ?? '') }}
  </div>
</div>

<app-deals-table-deals int:record-id="{{ viewParams.recordId }}"></app-deals-table-deals>