<h1 class="app-main-title">{{ translate('Mail') }} > Accounts</h1>

<hblreact-table
  int:record-id="{{ viewParams.recordId }}"
  string:model="Hubleto/App/Community/Mail/Models/Account"
></hblreact-mail-table-mails>
