<h1 class="app-main-title">{{ translate('Mail') }}</h1>

{# <app-mail-table-mails
  int:id-account="{{ viewParams.account.id }}"
  int:id-mailbox="{{ viewParams.mailbox.id }}"
  bool:readonly="true"
  string:view="briefOverview"
></app-mail-table-mails> #}
