<h1 class="app-main-title">{{ translate('Mail') }} > Send scheduled</h1>

<div class="alert alert-info">
  Mails scheduled to send were sent.
</div>

<pre class="w-full p-2 border border-gray-200">{{ viewParams.log|join('\n') }}</pre>