<div class="flex gap-2">
  {% for e in viewParams.extensions %}
    <a
      class="btn btn-transparent btn-large"
      href="{{ config.accountUrl }}/extensions/{{ e.urlBase }}"
    >
      <span class="icon"><i class="{{ e.icon }}"></i></span>
      <span class="text">{{ e.name }}</span>
    </a>
  {% endfor %}
</div>