<h1 class="app-main-title">{{ translate('Dashboards') }}</h1>

<hblreact-dashboards-table-dashboards
  string:tag="table-dashboards"
  int:record-id="{{ viewParams.recordId }}"
  json:filters='{{ viewParams.filters|json_encode }}'
  string:form-active-tab-uid='{{ viewParams.tab }}'
></hblreact-dashboards-table-dashboards>