<div class="mb-2">
  <a class="btn btn-primary" href="{{config.rewriteBase}}products">
    <span class="icon"><i class="fas fa-cart-shopping"></i></span>
    <span class="text">Products</span>
  </a>
  <a class="btn btn-primary" href="{{config.rewriteBase}}products/suppliers">
    <span class="icon"><i class="fas fa-truck"></i></span>
    <span class="text">Suppliers</span>
  </a>
  <a class="btn btn-primary" href="{{config.rewriteBase}}products/product-groups">
    <span class="icon"><i class="fas fa-burger"></i></span>
    <span class="text">Product Groups</span>
  </a>
</div>