<style>
  canvas {
    width: 100%;
    height: 350px;
  }
</style>

<h1>Reports &raquo; {{ viewParams.report.name }}</h1>
<app-form-report
  config="{{ viewParams.report.getReportConfig()|json_encode }}"
  string:model="{{ viewParams.report.modelClass }}"
  string:name="{{ viewParams.report.name }}"
  bool:readonly="true"
></app-form-report>

