<h1 class="app-main-title">Developer</h1>

<div class="list">
  <a href="developer/upgrade-models" class="btn btn-transparent btn-list-item">
    <span class="text">{{ translate("Upgrade models") }}</span>
  </a>
  <a href="developer/check-db-consistency" class="btn btn-transparent btn-list-item">
    <span class="text">{{ translate("Check DB consistency") }}</span>
  </a>
  <a href="developer/form-designer" class="btn btn-transparent btn-list-item">
    <span class="text">{{ translate("Form designer") }}</span>
  </a>
</div>