<h1 class="app-main-title">Worksheets</h1>

<a class='btn btn-large btn-square btn-transparent' href='worksheets/activities'>
  <span class='icon'><i class='fas fa-table'></i></span>
  <span class='text'>Activities</span>
</a>

<a class='btn btn-large btn-square btn-transparent' href='worksheets/activity-types'>
  <span class='icon'><i class='fas fa-table'></i></span>
  <span class='text'>ActivityTypes</span>
</a>