<h1 class="app-main-title">{{ translate('Cashdesk') }} > {{ translate('Cash registers') }}</h1>

<hblreact-cashdesk-table-cash-registers
  string:tag="table-receipts"
  int:record-id="{{ viewParams.recordId }}"
  json:filters='{{ viewParams.filters|json_encode }}'
></hblreact-cashdesk-table-cash-registers>