<h1 class="app-main-title">{{ translate('Cashdesk') }}</h1>

<a href="cashdesk/cash-registers" class="btn btn-transparent btn-square">
  <span class="icon"><i class="fas fa-cash-register"></i></span>
  <span class="text">{{ translate('Cash registers') }}</span>
</a>

<a href="cashdesk/receipts" class="btn btn-transparent btn-square">
  <span class="icon"><i class="fas fa-receipt"></i></span>
  <span class="text">{{ translate('Receipts') }}</span>
</a>