<h1 class="app-main-title">{{ translate('Cashdesk') }} > {{ translate('Receipts') }}</h1>

<hblreact-cashdesk-table-receipts
  string:tag="table-receipts"
  int:record-id="{{ viewParams.recordId }}"
  json:filters='{{ viewParams.filters|json_encode }}'
></hblreact-cashdesk-table-receipts>