<h1 class="app-main-title">{{ translate('Contacts') }}</h1>

<hblreact-contacts-table-contacts
  string:tag="table-contacts"
  int:record-id="{{ viewParams.recordId }}"
  json:filters='{{ viewParams.filters|json_encode }}'
></hblreact-contacts-table-contact>