<h1 class="app-main-title">Inventory</h1>

<app-inventory-table-inventory
  string:tag="table-inventory"
  int:record-id="{{ viewParams.recordId }}"
  json:filters='{{ viewParams.filters|json_encode }}'
></app-inventory-table-inventory>