<h1 class="app-main-title">{{ translate('Invoices') }}</h1>

<hblreact-invoices-table-invoices
  string:tag="table-invoices"
  string:view="{{ viewParams.view }}"
  int:record-id="{{ viewParams.recordId }}"
  json:filters='{{ viewParams.filters|json_encode }}'
></hblreact-invoices-table-invoices>