<h1 class='app-main-title'>{{ translate('Invoices') }} > {{ translate('Items') }}</h1>

<hblreact-invoices-table-items
  string:tag="invoices-table-items"
  int:record-id="{{ viewParams.recordId }}"
  json:filters='{{ viewParams.filters|json_encode }}'
></hblreact-invoices-table-items>