<h1 class='app-main-title'>{{ translate('Invoices') }} > {{ translate('Profiles') }}</h1>

<app-invoices-table-profiles
  string:tag="invoice-table-profiles"
  int:record-id="{{ viewParams.recordId }}"
></app-invoices-table-profiles>