<h1>You are already upgraded to Premium</h1>

<div class="grid grid-cols-2 gap-2 mt-4">
  <div>
    <div class="card">
      <div class="card-header">
        Your Premium benefits
      </div>
      <div class="card-body">
        <ul>
          <li class="my-2"><i class="mr-2 fas fa-check text-green-500"></i> unlimited storage</li>
          <li class="my-2"><i class="mr-2 fas fa-check text-green-500"></i> unlimited users</li>
          <li class="my-2"><i class="mr-2 fas fa-check text-green-500"></i> premium modules</li>
          <li class="my-2"><i class="mr-2 fas fa-check text-green-500"></i> more features</li>
          <li class="my-2"><i class="mr-2 fas fa-check text-green-500"></i> 24/7 support</li>
        </ul>
      </div>
    </div>

    <a href="?simulate=down" class="btn btn-primary btn-large">
      <span class="icon"><i class="fas fa-arrow-down"></i></span>
      <span class="text">Simulate downgrade</span>
    </a>
  </div>
  <div class="text-center">
    <span class="icon text-yellow-300"><i class="fas fa-trophy shadow-sm bg-yellow-50 shadow-yellow-200" style="font-size:20em;border-radius:100em;padding:50px"></i></span>
  </div>
</div>