<h1>Upgrade to Premium</h1>

<div class="grid grid-cols-2 gap-2 mt-4">
  <div>
    <div class="card">
      <div class="card-header">
        Upgrade to Premium and you'll get
      </div>
      <div class="card-body">
        <ul>
          <li class="my-2"><i class="mr-2 fas fa-check text-green-500"></i> unlimited storage</li>
          <li class="my-2"><i class="mr-2 fas fa-check text-green-500"></i> unlimited users</li>
          <li class="my-2"><i class="mr-2 fas fa-check text-green-500"></i> premium apps</li>
          <li class="my-2"><i class="mr-2 fas fa-check text-green-500"></i> more features</li>
          <li class="my-2"><i class="mr-2 fas fa-check text-green-500"></i> 24/7 support</li>
        </ul>
      </div>
    </div>

    {# <div class="alert-warning">
      Tu dat CTA button, aby sa zacal proces nastavenia pravidelnych platieb cez kartu.<br/>
      <br/>
      Napr. Stripe, GoPay a pod.
    </div> #}

    <a href="?simulate=up" class="btn btn-primary btn-large">
      <span class="icon"><i class="fas fa-arrow-up"></i></span>
      <span class="text">Simulate upgrade</span>
    </a>
  </div>
  <div class="text-center">
    <span class="icon text-amber-500"><i class="fas fa-trophy shadow-sm bg-amber-50 shadow-amber-200" style="font-size:20em;border-radius:100em;padding:50px"></i></span>
  </div>
    {# <div class="card">
      <div class="card-header text-indigo-800">
        Don't miss this special offer
        <i class="fas fa-percent"></i>
      </div>
      <div class="card-body">
        ...
      </div>
    </div>
    <div class="card">
      <div class="card-header text-teal-800">
        Need help?
        <i class="fas fa-life-ring"></i>
      </div>
      <div class="card-body">
        ...
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        What others say about Hubleto
        <i class="fas fa-thumbs-up"></i>
      </div>
      <div class="card-body">
        ...
      </div>
    </div> #}
</div>