<h1>You are using personal account</h1>

<div class="grid grid-cols-2 gap-2 mt-2">
  <div>
    <div class="card mt-2">
      <div class="card-body bg-yellow-50">
        Your account will be upgraded to premium automatically when you:
        <ul>
          <li class="my-2"><i class="mr-2 fas fa-check text-green-500"></i> add new users</li>
          <li class="my-2"><i class="mr-2 fas fa-check text-green-500"></i> install or enable premium apps</li>
        </ul>
        <a href="{{ config.accountUrl }}/settings" class="btn btn-transparent">
          <span class="icon"><i class="fas fa-plus"></i></span>
          <span class="text">Add new user</span>
        </a>
        <a href="{{ config.accountUrl }}/settings" class="btn btn-transparent">
          <span class="icon"><i class="fas fa-cog"></i></span>
          <span class="text">Manage apps</span>
        </a>
      </div>
    </div>
    <div class="card mt-2">
      <div class="card-header">
        Upgrade to Premium and you'll get
      </div>
      <div class="card-body">
        <ul>
          <li class="my-2"><i class="mr-2 fas fa-check text-green-500"></i> unlimited storage</li>
          <li class="my-2"><i class="mr-2 fas fa-check text-green-500"></i> unlimited users</li>
          <li class="my-2"><i class="mr-2 fas fa-check text-green-500"></i> more apps & features </li>
          <li class="my-2"><i class="mr-2 fas fa-check text-green-500"></i> 24/7 support</li>
        </ul>
      </div>
    </div>
  </div>
</div>
