<h1 class="app-main-title">Events > Agendas</h1>

<app-events-table-agendas
  string:tag="table-agendas"
  int:record-id="{{ viewParams.recordId }}"
  json:filters='{{ viewParams.filters|json_encode }}'
></app-events-table-agendas>