<h1 class="app-main-title">Events > Attendees</h1>

<hblreact-events-table-attendees
  string:tag="table-attendees"
  int:record-id="{{ viewParams.recordId }}"
  json:filters='{{ viewParams.filters|json_encode }}'
></hblreact-events-table-attendees>