<h1 class="app-main-title">Events > EventAttendees</h1>

<app-events-table-eventattendees
  string:tag="table-eventattendees"
  int:record-id="{{ viewParams.recordId }}"
  json:filters='{{ viewParams.filters|json_encode }}'
></app-events-table-eventattendees>