<h1 class="app-main-title">Events > EventVenues</h1>

<hblreact-events-table-eventvenues
  string:tag="table-eventvenues"
  int:record-id="{{ viewParams.recordId }}"
  json:filters='{{ viewParams.filters|json_encode }}'
></hblreact-events-table-eventvenues>