<h1 class="app-main-title">Events > EventSpeakers</h1>

<hblreact-events-table-eventspeakers
  string:tag="table-eventspeakers"
  int:record-id="{{ viewParams.recordId }}"
  json:filters='{{ viewParams.filters|json_encode }}'
></hblreact-events-table-eventspeakers>