<h1 class="app-main-title">Events > Types</h1>

<hblreact-events-table-types
  string:tag="table-types"
  int:record-id="{{ viewParams.recordId }}"
  json:filters='{{ viewParams.filters|json_encode }}'
></hblreact-events-table-types>