<h1 class="app-main-title">Events > Venues</h1>

<app-events-table-venues
  string:tag="table-venues"
  int:record-id="{{ viewParams.recordId }}"
  json:filters='{{ viewParams.filters|json_encode }}'
></app-events-table-venues>