<h1 class="app-main-title">{{ translate('Products') }} > {{ translate('Groups') }}</h1>

<app-table
  string:model="\Hubleto\App\Community\Products\Models\Group"
  int:record-id="{{ viewParams.recordId }}"
></app-table>