<h1 class="app-main-title">{{ translate('Products') }} > {{ translate('Groups') }}</h1>

<hblreact-products-table-groups
  string:tag="products-table-groups"
  int:record-id="{{ viewParams.recordId }}"
  json:filters='{{ viewParams.filters|json_encode }}'
></hblreact-products-table-groups>