<h1 class="app-main-title">{{ translate('Products') }}</h1>

<hblreact-products-table-products
  string:tag="table-products"
  int:record-id="{{ viewParams.recordId }}"
  json:filters='{{ viewParams.filters|json_encode }}'
></hblreact-products-table-products>