<h1 class="app-main-title">EventRegistrations > Contacts</h1>

<hblreact-table
  int:record-id="{{ viewParams.recordId }}"
  string:model="Hubleto/App/Community/EventRegistrations/Models/Contact"
></hblreact-table>