<h1 class="app-main-title">{{ translate('Accounting') }}</h1>

<div>
  <a href="{{ config.projectUrl }}/chart-of-accounts/accounts" class="btn btn-square btn-large btn-transparent">
    <span class="icon"><i class="fas fa-money-check-dollar"></i></span>
    <span class="text">Chart of accounts</span>
  </a>

  <a href="/" class="btn btn-square btn-large btn-transparent">
    <span class="icon"><i class="fab fa-discord"></i></span>
    <span class="text">Journal</span>
  </a>

  <a href="/" class="btn btn-square btn-large btn-transparent">
    <span class="icon"><i class="fab fa-discord"></i></span>
    <span class="text">Transactions</span>
  </a>

  <a href="/" class="btn btn-square btn-large btn-transparent">
    <span class="icon"><i class="fab fa-discord"></i></span>
    <span class="text">Invoices</span>
  </a>

  <a href="/" class="btn btn-square btn-large btn-transparent">
    <span class="icon"><i class="fab fa-discord"></i></span>
    <span class="text">Bills</span>
  </a>
</div>
