<h1 class="app-main-title">{{ translate('Projects') }} > Contacts</h1>

<hblreact-table
  int:record-id="{{ viewParams.recordId }}"
  string:model="Hubleto/App/Community/Projects/Models/Contact"
></hblreact-table>