<h1 class="app-main-title">{{ translate('Milestones') }}</h1>

<hblreact-projects-table-milestones
  string:tag="table-projects"
  int:record-id="{{ viewParams.recordId }}"
  json:filters='{{ viewParams.filters|json_encode }}'
></hblreact-projects-table-milestones>