<h1 class="app-main-title">{{ translate('Projects') }} > Phases</h1>

<hblreact-projects-table-phases
  string:tag="table-project-phases"
  int:record-id="{{ viewParams.recordId }}"
  json:filters='{{ viewParams.filters|json_encode }}'
></hblreact-projects-table-phases>