<h1 class="app-main-title">Projects > Phases</h1>

<app-projects-table-phases
  string:tag="table-project-phases"
  int:record-id="{{ viewParams.recordId }}"
  json:filters='{{ viewParams.filters|json_encode }}'
></app-projects-table-phases>