<h1 class="app-main-title">{{ translate('Projects') }}</h1>

<hblreact-projects-table-projects
  string:tag="table-projects"
  int:record-id="{{ viewParams.recordId }}"
  json:filters='{{ viewParams.filters|json_encode }}'
></hblreact-projects-table-projects>