<h1 class="app-main-title">Archived leads</h1>

<hblreact-leads-table-leads
  string:tag="table-leads"
  bool:show-archive="true"
  int:record-id="{{ viewParams.recordId }}"
  json:filters='{{ viewParams.filters|json_encode }}'
></hblreact-leads-table-leads>