<h1 class="app-main-title">{{ translate('Leads') }}</h1>

<hblreact-leads-table-leads
  string:tag="table-leads"
  int:record-id="{{ viewParams.recordId }}"
  json:filters='{{ viewParams.filters|json_encode }}'
></hblreact-leads-table-leads>
