<h1 class="app-main-title">Leads > Levels</h1>

<app-leads-table-levels
  string:tag="table-leads-levels"
  int:record-id="{{ viewParams.recordId }}"
  json:filters='{{ viewParams.filters|json_encode }}'
></app-leads-table-levels>