<h1 class="app-main-title">{{ translate('Customers') }}</h1>

<hblreact-customers-table-customers
  string:tag="table-customers"
  int:record-id="{{ viewParams.recordId }}"
  json:filters='{{ viewParams.filters|json_encode }}'
></hblreact-customers-table-customers>