<h1 class="app-main-title">{{ translate('Customers') }} > {{ translate('Tags') }}</h1>

<app-table
  int:record-id="{{ viewParams.recordId }}"
  string:model="Hubleto/App/Community/Customers/Models/Tag"
></app-table>