<h1 class="app-main-title">{{ translate(Archived deals) }}</h1>

<hblreact-deals-table-deals
  string:tag="table-deals"
  bool:show-archive="true"
  int:record-id="{{ viewParams.recordId }}"
  json:filters='{{ viewParams.filters|json_encode }}'
></hblreact-deals-table-deals>