<div class="flex flex-col p-2 text-sm font-normal">
  <div class="flex gap-2">
    <div class="text-primary">{{ item.OWNER.nick }}</div>
    <div class="text-gray-400 text-nowrap">{{ item.CUSTOMER.name }}</div>
  </div>
  <div class="font-bold">{{ item.identifier }} {{ item.title }}</div>
</div>
