<h1 class="app-main-title">Reports > Reports</h1>

<div class='alert alert-danger'>Important: This app is under active development.</div>

<app-reports-table-reports
  string:tag="table-reports"
  int:record-id="{{ viewParams.recordId }}"
></app-reports-table-reports>