Hello. Current date and time is <b>{{ viewParams.now }}</b>.
<div class="mt-2">
  <a class="btn btn-primary" href="my-app/contacts">
    <span class="icon"><i class="fas fa-user"></i></span>
    <span class="text">{{ translate("Contacts") }}</span>
  </a>
</div>