<div class="flex">
  <h1 class="app-main-title">{{ translate('Calendar: Settings') }}</h1>
  {% if viewParams.settingsSaved %}
    <div class="badge badge-info text-sm ml-4">{{ translate('Settings saved.') }}</div>
  {% endif %}
</div>

<script>
  function saveSettings() {
    $("#settings-form").submit();
  }
</script>

<div class="card mt-10 w-1/2 m-auto">
  <div>
    some settings
  </div>

  <div>
    list of shared calendars - model, objects table, with permissions and links for sharing
  </div>
</div>