<h1 class="app-main-title">Hubleto Cloud > Billing accounts</h1>

<hblreact-table
  int:record-id="{{ viewParams.recordId }}"
  model="Hubleto/App/Community/Cloud/Models/BillingAccount"
></hblreact-table>