<h1 class="app-main-title">Hubleto Cloud > {{ translate('Credit') }}</h1>

<hblreact-table
  int:record-id="{{ viewParams.recordId }}"
  model="Hubleto/App/Community/Cloud/Models/Credit"
></hblreact-table>