<div class="w-32 flex flex-col gap-2 shrink-0">
  <a href="{{ config.accountUrl }}/messages/inbox" class="btn btn-square btn-transparent">
    <span class="icon"><i class="fas fa-inbox"></i></span>
    <span class="text">Inbox</span>
  </a>

  <a href="{{ config.accountUrl }}/messages/sent" class="btn btn-square btn-transparent">
    <span class="icon"><i class="fas fa-inbox"></i></span>
    <span class="text">Sent</span>
  </a>

  <a href="{{ config.accountUrl }}/messages/all" class="btn btn-square btn-transparent">
    <span class="icon"><i class="fas fa-inbox"></i></span>
    <span class="text">All messages</span>
  </a>
</div>