<h1 class="app-main-title">Discussions > Discussions</h1>

<app-discussions-table-discussions
  string:tag="table-discussions"
  int:record-id="{{ viewParams.recordId }}"
  json:filters='{{ viewParams.filters|json_encode }}'
></app-discussions-table-discussions>