<h1 class="app-main-title">Discussions > Members</h1>

<app-discussions-table-members
  string:tag="table-members"
  int:record-id="{{ viewParams.recordId }}"
  json:filters='{{ viewParams.filters|json_encode }}'
></app-discussions-table-members>