<h1 class="app-main-title">Discussions > Messages</h1>

<app-discussions-table-messages
  string:tag="table-messages"
  int:record-id="{{ viewParams.recordId }}"
  json:filters='{{ viewParams.filters|json_encode }}'
></app-discussions-table-messages>