<h1 class="app-main-title">{{ translate('Warehouses') }} > {{ translate('Inventory') }}</h1>

<hblreact-warehouses-table-inventory
  string:tag="table-inventory"
  int:record-id="{{ viewParams.recordId }}"
  bool:readonly="true"
  json:filters='{{ viewParams.filters|json_encode }}'
></hblreact-warehouses-table-inventory>