<h1 class="app-main-title">{{ translate('Warehouses') }} > Location types</h1>

<app-table
  int:record-id="{{ viewParams.recordId }}"
  string:model="Hubleto/App/Community/Warehouses/Models/LocationType"
></app-table>