<h1 class="app-main-title">{{ translate('Warehouses') }} > {{ translate('Transactions') }} > Add</h1>

<app-warehouses-form-transaction
  int:id="-1"
  int:direction="{{ viewParams.direction }}"
></app-warehouses-form-transaction>