<h1 class="app-main-title">{{ translate('Warehouses') }}</h1>

<hblreact-warehouses-table-warehouses
  string:tag="table-warehouses"
  int:record-id="{{ viewParams.recordId }}"
  json:filters='{{ viewParams.filters|json_encode }}'
></hblreact-warehouses-table-warehouses>