<h1>{{ translate('Settings') }}</h1>

<script>
  function searchSetting(q) {
    if (q == '') {
      $("#setting-buttons .btn").show();
    } else {
      $("#setting-buttons .btn").hide();
      const regex = new RegExp(q, "i");
      $("#setting-buttons .btn").each(function() {
        if ($(this).find('.text').text().match(regex)) {
          $(this).show();
        }
      });
      {# const found = paragraph.match(regex); #}
    }
  }
</script>

<div class="text-lg m-auto w-1/2">
  <input
    class="w-full p-2 border border-gray"
    placeholder="Search settings..."
    onkeyup="searchSetting(this.value);"
  />
</div>

<div id="setting-buttons" class="mt-4 grid grid-cols-4 gap-2">
  {% for setting in viewParams.settings %}
    <a class="btn btn-transparent" href="{{ setting.url }}">
      <span class="icon"><i class="{{ setting.icon }}"></i></span>
      <span class="text">{{ setting.title }}</span>
    </a>
  {% endfor %}
</div>