<h1 class="app-main-title">Worksheets > Activities</h1>

<app-worksheets-table-activities
  string:tag="table-activities"
  int:record-id="{{ viewParams.recordId }}"
  json:filters='{{ viewParams.filters|json_encode }}'
></app-worksheets-table-activities>