<h1 class='app-main-title'>{{ translate('Settings') }} > {{ translate('Workflows') }}</h1>

<hblreact-settings-table-workflows
  string:tag="table-workflows"
  int:record-id="{{ viewParams.recordId }}"
  json:filters='{{ viewParams.filters|json_encode }}'
></hblreact-settings-table-workflows>