<h1 class='app-main-title'>{{ translate('Settings') }} > {{ translate('Workflows') }}</h1>

<app-settings-table-workflows
  string:tag="table-workflows"
  int:record-id="{{ viewParams.recordId }}"
></app-settings-table-workflows>