<h1 class="app-main-title">{{ translate('Shops') }}</h1>

<app-shops-table-shops
  string:tag="table-shops"
  int:record-id="{{ viewParams.recordId }}"
  json:filters='{{ viewParams.filters|json_encode }}'
></app-shops-table-shops>