<h1 class='app-main-title'>{{ translate('Pipeline') }} > {{ translate('History') }}</h1>

<app-table
  int:record-id="{{ viewParams.recordId }}"
  string:model="Hubleto/App/Community/Pipeline/Models/PipelineHistory"
></app-table>