<h1 class="app-main-title">{{ translate('AI Assistant') }}</h1>
<hblreact-ai-assistent-chat-ui
  style="overflow:auto"
  string:assets-url="{{ hubleto.env().assetsUrl }}"
></hblreact-ai-assistent-chat-ui>
